
html{
    scroll-behavior: smooth;

}

.covid-image
{
 
    background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.25)),url('../img/covid.jpg');
    background-size: cover;
    height: 80vh;
    background-attachment: fixed;
}

.covid{
    height:60vh;
}

.logo{
    width:300px;
    height: 110px;
}
.info-bar{
    margin-top:-30px;
    box-shadow: 10px 5px 5px rgba(0,0,0,.03);
    padding: 2.5rem 0;
    border-radius: 50px;
    border-left: 3px solid #543153;
    border-right: 3px solid #543153;
    overflow: hidden;

}

/* Icons */


.virus-ic-one{
    color:green;
    font-size:2.6rem;
}
.virus-ic-two{
    color:lightcoral;
    font-size:2.6rem;
}
.virus-ic-three{
    color:purple;
    font-size:2.6rem;

}

.latest-figures{
    height: 60vh;
}
.divider{
    background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.25)),url('../img/covid.jpg');
    background-size: cover;
    height: 20vh;
    background-attachment: fixed;
}



.progressbar{
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;
}

.option-part{
    
}

footer{
    background-color: #111320;
    padding:50px 0;
    

}

.brainster-logo{

    height:100px;
    width:100%;
    margin-top:30px;
}

.ct-chart
{
    width:300px;
    height:300px;

}
.ct-chart .ct-bar:nth-of-type(1)
 {
    stroke: red;
    color:white;

  }

.ct-label{
    fill:white !important;
}


  .ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
    fill:purple !important;
    color:white;


    
}


.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie {
    fill:red !important;
    
}

.ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie {
    fill:green !important;
    
}

  .ct-chart .ct-bar:nth-of-type(2) {
    stroke: green;
  }
  
  .ct-chart .ct-bar:nth-of-type(3) {
    stroke: blue;
  }

  .box{
      width:15px;
      height:15px;
      margin-right:10px;
      background-color:red;
  }

  .box1{
    width:15px;
    height:15px;
    margin-right:10px;
    background-color:purple;
  }

  .box2{
    width:15px;
    height:15px;
    margin-right:10px;
    background-color:green;
  }






  @media(max-width:500px){
    .covid-image{
        height: 100vh;  
    }

    .covid{
        height:90vh;
    }

    .navbar{
        background:white;
    }
    .navbar .navbar-toggler{
        background:black;
    }
    .navbar .navbar-nav .nav-item .nav-link{
        color:black;

    }
    .info-bar{
        margin-top:0;
        border-left: none;
        border-right: none;
        box-shadow: none;
    }
    display-3{
        font-size:2.2rem;
    }
    .display-4 {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.0;
    }
    .brainster-logo{
        margin:0 auto;
        width:80%;

    }
}

/* Admin Part */

.credentials{
    width: 100%;
    height: 100vh;
    background: rgb(255,154,158);
    background: linear-gradient(90deg, rgba(255,154,158,1) 0%, rgba(254,207,239,1) 30%, rgba(142,95,137,1) 67%);
}
.credentials-image{
    height: 30vh;
    border-radius: 20px 20px 0px 0px;
}
.credentials-container{
    border-bottom: 1px solid #000;
    border-radius: 25px;
    padding-bottom:25px;
    background-color: white;
    height:50vh;
    width:30%;
    margin:50px auto;
}

@media(max-width:800px){
    .credentials-container{
        border-bottom: 1px solid #000;
        border-radius: 25px;
        padding-bottom:25px;
        background-color: white;
        height:40vh;
        width:80%;
        margin:0 auto;
    }
}



/* ADMIN /admin.php */ 

.navigation{
    background-image: url("../img/covid.jpg"), linear-gradient(#eb01a5, #d13531); /* W3C */
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;    
    



} 
.nav-list{
    width: 100%;
    height: 100%;
}

.navigation .navbar .nav-item{
    display: block;

}
.navigation .navbar .nav-link{
    font-size:1.3rem;
    color:#fff;
    transition: .1s all;
    margin-left:10px;
    
 
}

.navigation .navbar .nav-link:hover{
    color:#cea35f;
    font-weight: bold;
 
}

.nav-pills{
    height: 40vh;
}
.icons{
    margin-top:40vh;
    
}
.icons a{
   text-decoration:none;
   color:white;
   transition: all .3s;
   border:1px solid white;
   padding:10px;
   border-radius: 50%;
}
.icons a:hover{
    color:orange;
    transform: translateY(-3px);
    border:1px solid orange;

}
@media(max-width:1024px){
   .navigation{
       height: 100vh;
   }
}
@media (max-width:800px){
    .navigation{
        position:relative;
        height: 8vh;
        background:none;
    }
    

    .navigation .navbar{
        background-color: black;
        padding:10px 0;
        z-index: 10;
    }
    .navbar-toggler {
            margin-right:10px;
    }

    .nav-pills{
        height: 100%;
    }
}

